{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "braceStyle": "1tbs",
  "plugins": ["prettier-plugin-brace-style"]
}
